.budgets-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-250);
}

.budgets-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-200);
  padding: 28px 0;
}

.budget-chart {
  flex: 1;
  width: 247px;
  max-height: 247px;
  max-width: 247px;
  min-width: 247px;
}

.budget-chart [data-highcharts-chart] {
  width: 247px;
  max-height: 247px;
  max-width: 247px;
}

.budget-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

/* Medium */
@media screen and (max-width: 1439px) {
  .budgets-main {
    margin: auto;
  }
}

/* Small */
@media screen and (max-width: 767px) {
  .budgets-main {
    flex-direction: column;
  }

  .budget-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
