.budgets-section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-250);
}

.budgets-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-200);
}

.budget-chart {
  flex: 1;
}

.budget-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

/* Small */
@media screen and (max-width: 767px) {
  .budgets-main {
    flex-direction: column;
  }

  .budget-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
