.withdrawpot-progress {
  width: 100%;
  padding: 10.5px 0;
}

.withdrawpot-progress[data-is-withdraw="true"] .progbar-bleft-label {
  color: var(--c-red);
}

.withdrawpot-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-250);
}
