.budgetspage {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}

.budgetspage-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.budgetspage-grid {
  display: grid;
  grid-template-columns: 428px minmax(428px, 1fr);
  gap: var(--spacing-300);
}

.budgetspage-budgets {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

/* Medium */
@media screen and (max-width: 1439px) {
  .budgetspage-grid {
    grid-template-columns: minmax(100%, 1fr);
  }
}
