.recurringbills {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
  overflow: hidden;
}

.recurringbills-content {
  display: flex;
  gap: var(--spacing-300);
}

.recurringbills-stats {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.recurringbills-card {
  flex: 1;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

/* Medium */
@media screen and (max-width: 1439px) {
  .recurringbills-content {
    flex-direction: column;
  }

  .recurringbills-stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Small */
@media screen and (max-width: 767px) {
  .recurringbills .h1 {
    height: 54px;
  }

  .recurringbills-stats {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-150);
  }
}
