.apppage {
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "aside main";
}

.apppage-aside {
  grid-area: aside;
}

.apppage-main {
  min-width: 1140px;
  max-width: 1440px;
  grid-area: main;
  padding: var(--spacing-400) var(--spacing-500);
  margin-right: auto;
  margin-left: auto;
}

.apppage-loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Medium */
@media screen and (max-width: 1439px) {
  .apppage {
    grid-template-areas:
      "main"
      "aside";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
  }

  .apppage-main {
    min-width: unset;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
}

/* Small */
@media screen and (max-width: 767px) {
  .apppage-main {
    padding: var(--spacing-300) var(--spacing-200);
  }
}
