.cardheader {
  display: flex;
  justify-content: space-between;
  color: var(--c-grey-900);
}

.cardheader-h2 {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-120);
  letter-spacing: var(--letter-spacing-0);
}
