.transtable-table {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.transtable-table-empty {
  margin: var(--spacing-300) auto;
  color: var(--c-grey-500);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-0);
}

.transtable-row,
.transtable-header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 120px 120px 200px;
  grid-template-areas: "sender category date amount";
  gap: var(--spacing-400);
  padding: 0 var(--spacing-200);
}

/* #region header */
.transtable-header {
  height: 42px;
  margin-bottom: var(--spacing-300);
  border-bottom: 1px solid var(--c-grey-100);
  color: var(--c-grey-500);
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-0);
}

.transtable-hsender {
  grid-area: sender;
  white-space: nowrap;
}

.transtable-hcategory {
  grid-area: category;
}

.transtable-hdate {
  grid-area: date;
}

.transtable-hamount {
  grid-area: amount;
  text-align: right;
}
/* #endregion header */

.transtable-row {
  height: 40px;
}

.transtable-sender-img {
  grid-area: sender;
  width: 40px;
  min-width: 40px;
  height: 40px;
}

.transtable-sender-name {
  margin-left: 56px;
  grid-area: sender;
  margin-right: var(--spacing-200);
  color: var(--c-grey-900);
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-0);
}

.transtable-category {
  grid-area: category;
  color: var(--c-grey-500);
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-0);
  white-space: nowrap;
}

.transtable-date {
  grid-area: date;
  color: var(--c-grey-500);
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-0);
}

.transtable-amount {
  grid-area: amount;
  color: var(--c-grey-900);
  text-align: right;
  font-size: var(--font-size-14);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-0);
}

.transtable-amount[data-positive="true"] {
  color: var(--c-green);
}

/* Medium */
@media screen and (max-width: 1439px) {
  .transtable-header {
    height: 60px;
  }
}

/* Small */
@media screen and (max-width: 767px) {
  .transtable-header {
    display: none;
  }

  .transtable-row {
    height: auto;
    padding: 0;
    grid-template-areas:
      "avatar sender amount"
      "avatar category date";
    grid-template-columns: 32px 1fr 112px;
    gap: 4px;
  }

  .transtable-sender-name {
    margin-left: 8px;
  }

  .transtable-sender-img {
    grid-area: avatar;
    width: 32px;
    min-width: 32px;
    height: 32px;
  }

  .transtable-date {
    text-align: right;
  }

  .transtable-category {
    margin-left: 8px;
  }
}
