.billsummary-cont {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-250);
  padding: var(--spacing-250);
  border-radius: var(--border-radius-medium);
  background-color: var(--c-white);
  overflow: hidden;
}

.billsummary-label {
  color: var(--c-grey-900);
  font-size: var(--font-size-16);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-0);
}

.billsummary-items {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-150);
}

.billsummary-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-100);
}

.billsummary-item-label {
  color: var(--c-grey-500);
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-0);
}

.billsummary-item-value {
  color: var(--c-grey-900);
  text-align: left;
  font-size: var(--font-size-12);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-150);
  letter-spacing: var(--letter-spacing-0);
  white-space: nowrap;
}

.billsummary-item[data-due="true"] .billsummary-label,
.billsummary-item[data-due="true"] .billsummary-item-value {
  color: var(--c-red);
}
