.potform-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-250);
}

.potform-inputs {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.potform-inputs .input-select {
  padding-left: 48px;
}
