.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  gap: var(--spacing-300);
  border-top-right-radius: var(--border-radius-large);
  border-bottom-right-radius: var(--border-radius-large);
  background-color: var(--c-grey-900);
  transition: width var(--transition-duration) var(--transition-timing-func);
  overflow: hidden;
  z-index: 99;
}

.sidebar-placeholder {
  width: 300px;
  transition: width var(--transition-duration) var(--transition-timing-func);
}

/* #region Header */
.sidebar-header {
  padding: var(--spacing-500) var(--spacing-400);
}

.sidebar-header .svg-logo_large {
  width: auto;
  height: 22px;
  max-height: 22px;
}

.sidebar-header .svg-logo_small {
  width: auto;
  height: 22px;
  max-height: 22px;
}

/* #endregion Header */

/* #region Nav */
.sidebar-nav {
  flex: 1;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-50);
  overflow: scroll;
}
/* #endregion Nav */

/* #region Toggle Button */
.sidebar-toggle-btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
  height: 56px;
  min-height: 56px;
  padding: 0 var(--spacing-400);
  color: var(--c-grey-300);
  transition: background-color var(--transition-duration)
      var(--transition-timing-func),
    color var(--transition-duration) var(--transition-timing-func);
  cursor: pointer;
}

.sidebar-toggle-btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.sidebar-toggle-btn .svg-minimize_menu-path {
  fill: var(--c-grey-300);
  transition: fill var(--transition-duration) var(--transition-timing-func);
}

.sidebar .sidebar-toggle-btn-label {
  white-space: nowrap;
  transition: opacity var(--transition-duration) var(--transition-timing-func);
}

@media (hover: hover) {
  .sidebar-toggle-btn:hover {
    color: var(--c-grey-100);
  }

  .sidebar-toggle-btn:hover .svg-minimize_menu-path {
    fill: var(--c-grey-100);
  }
}
/* #endregion Toggle Button */

/* #region Minimize */
/* Large */
@media screen and (min-width: 1440px) {
  .sidebar[data-minimized="true"],
  .sidebar-placeholder[data-minimized="true"] {
    width: 88px;
  }

  .sidebar[data-minimized="true"] .sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar[data-minimized="true"] .svg-minimize_menu {
    rotate: 180deg;
  }

  .sidebar[data-minimized="true"] .sidebar-toggle-btn-label {
    opacity: 0;
  }
}
/* #endregion Minimize */

/* Medium */
@media screen and (max-width: 1439px) {
  .sidebar {
    top: unset;
    bottom: 0;
    width: 100%;
    height: 74px;
    padding: 8px 40px 0 40px;
    padding-bottom: 0;
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
    transition: unset;
  }

  .sidebar-placeholder {
    width: 100%;
    height: 74px;
  }

  .sidebar-nav {
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    overflow: hidden;
  }
}

/* Small */
@media screen and (max-width: 767px) {
  .sidebar {
    height: 52px;
    padding: 8px 16px 0 16px;
  }

  .sidebar-placeholder {
    height: 52px;
  }
}
